{{#d-modal-body class="add-event-modal" id="event-modal" title=title}}
  {{event-form
    event=model.event
    updateEvent=(action 'updateEvent')}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button action=(action "saveEvent") class="btn-primary" label="add_event.event_add"}}
  <a href class="clear" {{on "click" (fn this.clear)}}>{{i18n 'add_event.event_clear'}}</a>
</div>
