<AdminNav>
  <NavItem
    @route="adminPlugins.events.event"
    @label="admin.events.event.title"
  />
  <NavItem
    @route="adminPlugins.events.source"
    @label="admin.events.source.title"
  />
  <NavItem
    @route="adminPlugins.events.provider"
    @label="admin.events.provider.title"
  />
  <NavItem @route="adminPlugins.events.log" @label="admin.events.log.title" />
  <li class="settings">
    <DButton
      class="btn-default"
      @action={{route-action "showSettings"}}
      @actionParam={{this.plugin}}
      @icon="gear"
      @label="admin.plugins.change_settings_short"
    />
  </li>
  <div class="admin-actions">
    <EventsSubscriptionStatus />
  </div>
</AdminNav>

<div class="admin-container">
  {{outlet}}
</div>