{{#each weekdays as |w|}}
  <div class="weekday">
    <span>{{w}}</span>
  </div>
{{/each}}

{{#each days as |day|}}
  {{events-calendar-day day=day
                        setDate='setDate'
                        expand='expand'
                        showEvents=showEvents}}
{{/each}}
