{{#each weekdays as |w|}}
  <div class="weekday">
    <span>{{w}}</span>
  </div>
{{/each}}

{{#each days as |day index|}}
  {{events-calendar-day day=day
                        currentDate=currentDate
                        currentMonth=currentMonth
                        selectDate='selectDate'
                        canSelectDate=canSelectDate
                        expandedDate=expandedDate
                        setExpandedDate=(action 'setExpandedDate')
                        showEvents=showEvents
                        topics=topics
                        responsive=responsive
                        index=index}}
{{/each}}
