{{combo-box content=months value=currentMonth class='month-dropdown'}}
{{events-calendar-body topics=topics
                       currentMonth=currentMonth
                       currentDate=currentDate
                       selectDate='selectDate'
                       canSelectDate=canSelectDate
                       showEvents=showEvents
                       responsive=responsive}}
{{#if eventsBelow}}
  <div class="events-below">
    {{events-calendar-events events=dateEvents}}
  </div>
{{/if}}
