<div class="header">
  {{combo-box content=months value=month class='month-dropdown'}}
  {{#if currentUser}}
    {{events-calendar-subscription none='events_calendar.subscribe' headerIcon='rss' category=category}}
  {{/if}}
</div>
{{events-calendar-body days=days
                       topics=topics
                       currentMonth=currentMonth
                       currentDate=currentDate
                       selectDate='selectDate'
                       canSelectDate=canSelectDate
                       showEvents=showEvents
                       responsive=responsive}}
{{#if eventsBelow}}
  <div class="events-below">
    {{events-calendar-events events=dateEvents}}
  </div>
{{/if}}
