#reply-control .composer-controls-event {
  display: none;
}

#reply-control .location-label {
  margin-left: 4px;
  padding: 0;
}

#reply-control button.add-event.no-text {
  position: relative;
  margin: 7px 0 0 0;

  &:not(.btn-primary) {
    background: $secondary;
  }
}

#reply-control .contents .title-input {
  display: flex;

  input#reply-title {
    width: initial;
    flex: 1 1 auto;
    margin-right: 0;
  }
}

.set-event-modal .start-card {
  padding-bottom: 20px;
  border: none;
}

.set-event-modal .date-time-card {
  padding-left: 0;
  padding-right: 0;
}
