<section class='field'>
  <label>
    {{input type="checkbox" checked=category.custom_fields.events_enabled}}
    {{i18n 'category.enable_events'}}
  </label>
</section>

<section class='field'>
  <label>
    {{input type="checkbox" checked=category.custom_fields.events_agenda_filter_closed}}
    {{i18n 'category.events_agenda_filter_closed'}}
  </label>
</section>
