{{#if context.topic.event}}
  <div class="date-time-container">
    <a href="{{context.topic.lastUnreadUrl}}" class="{{context.topic.topicListItemClasses}}">
      {{event-label context.topic.event list="true"}}
    </a>
  </div>
{{/if}}
