@import "event-form";

.add-event-modal {
  &.modal-body {
    padding: 20px;
  }

  .modal-footer .clear {
    margin: 5px 10px;
  }
}

.add-event {
  text-align: left;

  &.no-text {
    width: 35px;
  }

  .dot {
    padding: 0 4px;
  }
}

.add-event,
.add-event + button {
  border: 1px solid var(--primary-medium);
}

.form-element + span {
  display: block;
}

.event-label .fa {
  margin-right: 7px;
}

.event-details {
  display: flex;
  flex-flow: wrap;

  .event-label {
    margin-top: 7px;
    margin-right: 10px;
    line-height: 18px;
    display: inline-block;
  }

  .event-rsvp {
    margin-top: 6px;
  }
}

.date-time-container {
  display: inline-block;

  .d-icon {
    margin-right: 7px;
  }
}

.date-time.title {
  width: 100px;

  .d-icon.no-date {
    margin: 0;
  }

  .date.no-date {
    margin-left: -30px;
  }
}

.add-to-calendar {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-top: 6px;

  .dropdown-header {
    min-height: initial;
  }

  .dropdown-menu {
    top: 25px;
    bottom: initial;
    width: 190px;
    position: absolute;
    display: none;
    background-color: var(--secondary);
    z-index: 100;
    box-shadow: shadow('dropdown');
    border-top: 1px solid var(--primary-very-low);

    &.show {
      display: block;
    }

    ul {
      list-style: none;
      margin: 0;

      li {
        padding: 10px;
        cursor: pointer;

        &:hover {
          background-color: var(--primary-low);
        }
      }
    }
  }
}

.navigation {
  display: inline-block;
}

.events-calendar-subscription-links {
  display: flex;
  margin-left: auto;
  gap: 0.5em;
}

.select-kit.events-calendar-subscription {
  margin-left: auto;

  .select-kit-body {
    .events-calendar-subscription-warning {
      padding: 6px 16px;
      background-color: rgba(255, 247, 78, 0.32);
      font-size: 1.1em;

      .fa.d-icon {
        margin-right: 6px;
      }
    }

    .select-kit-collection {
      overflow: unset;
      padding: 0.5em;
    }

    li.events-calendar-subscription-row {
      display: flex;
      position: relative;
      padding: unset;

      &:not(:first-of-type) {
        margin-top: 0.5em;
      }

      &.is-highlighted {
        background-color: initial;
      }

      span {
        text-align: center;
        width: 50px;
        flex: initial;
      }

      input {
        flex: 1;
        margin: 0;
        background: var(--primary-very-low);
        border: var(--primary-low);
      }

      .copied {
        position: absolute;
        left: -65px;
        padding: 0.3em 0.5em;
        background: var(--success);
        color: var(--secondary);
        border: 1px solid var(--primary-low);
      }
    }
  }
}

.select-kit.month-dropdown,
.select-kit.year-dropdown {
  width: 150px;
  min-width: 150px;
  height: 28px;
  vertical-align: top;

  .select-kit-header {
    line-height: 1.3;
  }
}

.events-calendar .header {
  display: flex;
}

.events-calendar.responsive {
  .month-dropdown {
    width: 90px;
    min-width: 90px;
  }

  .year-dropdown {
    width: 50px;
    min-width: 50px;
  }

  .month-dropdown,
  .year-dropdown {
    height: 30px;

    .select-kit-header {
      line-height: 1.35;
    }

    &:not(.is-expanded) .select-kit-header {
      width: inherit;
    }

    .d-icon {
      display: none;
    }
  }

  .select-kit.events-calendar-subscription {
    .select-kit-collection {
      li {
        .copied {
          left: unset;
          top: -35px;
        }
      }
    }
  }

  .events-calendar-body {
    margin-top: 10px;
    text-align: center;

    .weekday {
      height: 15px;
      line-height: 15px;

      span {
        padding: 0 2px;
      }
    }

    .day {
      height: 38px;
      cursor: pointer;
      position: relative;

      .header {
        text-align: center;
        margin-top: 2px;
      }

      .date label {
        cursor: pointer;
        display: inline-block;
        height: 19px;
        width: 19px;
        margin: 0;
      }

      .has-events {
        position: absolute;
        bottom: 2px;
        width: 100%;
      }
    }
  }
}

.events-calendar-body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
  border-bottom: 1px solid var(--primary-medium);
  border-left: 1px solid var(--primary-medium);
  box-sizing: border-box;

  .day, .weekday {
    width: calc(99.9999%/7);
    border-top: 1px solid var(--primary-medium);
    border-right: 1px solid var(--primary-medium);
    box-sizing: border-box;
  }

  .weekday {
    height: 23px;
    line-height: 23px;

    span {
      padding: 0 4px;
    }
  }

  .day {
    height: 130px;
    transition: all 0.2s;
    position: relative;

    .container {
      background-color: var(--primary-secondary);
    }

    &.today .container {
      background-color: var(--highlight-low);
      height: 100%;
    }

    &.different-month .container {
      background-color: rgba(var(--primary-low), .5);
      color: rgba(var(--primary), .5);
      height: 100%;
    }

    &.selected .date label {
      background-color: var(--tertiary);
      color: var(--secondary);
      border-radius: 50%;
    }

    &.expanded .container {
      position: absolute;
      z-index: 100;
      height: auto;
      width: auto;
      min-width: 100%;
      overflow: visible;
      border: 1px solid var(--primary-low);
      box-shadow: 0 2px 2px rgba(0,0,0,0.4);

      .events {
        padding: 3px 4px;

        li {
          height: 25px;
          line-height: 25px;

          &.empty {
            display: none;
          }
        }
      }
    }

    .header {
      position: relative;
    }

    .date label {
      margin: 2px;
      padding: 2px 3px;
      margin-bottom: 0;
    }

    .close {
      position: absolute;
      right: 3px;
      top: -3px;
    }

    .hidden-events {
      margin: 2px 5px;

      .btn {
        font-size: 0.9em;
        border-radius: 4px;
        line-height: 1;
      }
    }

    .has-events {
      font-size: 7px;
    }
  }
}

ul.events-calendar-events {
  margin: 0;
  list-style: none;

  li {
    margin: 2px 0;
    position: relative;
    height: 16px;

    .event {
      padding: 0 7px;
      height: inherit;
      line-height: 16px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;

      span {
        font-size: 0.9em;
      }

      .fa-circle {
        color: inherit;
        font-size: 0.8em;
      }

      &.all-day {
        background-color: var(--primary-tertiary);
        color: var(--secondary);
        border-top: 1px solid var(--primary-low);
        border-bottom: 1px solid var(--primary-low);

        &:not(.full-width) {
          &.start {
            margin-left: 4px;
            border-radius: 4px 0 0 4px;
          }

          &.multi span.title {
            position: absolute;
            z-index: 1;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &.start span.time {
            margin-right: 5px;
            float: left;
          }

          &.end {
            margin-right: 4px;
            border-radius: 0 4px 4px 0;
          }
        }
      }

      img.emoji {
        height: 15px;
        width: 15px;
      }
    }
  }
}

.events-calendar-card {
  position: absolute;
  top: -15px;
  left: -390px;
  width: 350px;
  z-index: 997;
  background-color: var(--secondary);
  box-shadow: shadow('card');
  border: 1px solid var(--primary-low);
  padding: 15px;
  border-radius: 4px;

  .topic-link {
    font-size: 1.3em;

    p {
      margin: 0;
    }
  }

  .close .fa {
    vertical-align: top;
  }

  .topic-meta {
    margin-top: 6px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
  }

  .topic-event {
    margin-top: 6px;
    width: 100%;
    display: inline-block;
    cursor: pointer;
  }

  .topic-excerpt {
    padding-top: 8px;
    cursor: pointer;
    line-height: 1.4;
    width: 100%;
    word-wrap: break-word;

    p {
      margin: 0;
    }
  }
}

.events-calendar-events .events-calendar-card .close {
  position: absolute;
  right: 5px;
  top: 5px;
}

.events-below {
  margin-top: 8px;
  margin-bottom: 15px;

  ul.events-calendar-events li {
    height: auto;
    line-height: 20px;
    margin: 5px 0;
    white-space: normal;

    &.empty {
      display: none;
    }

    img.emoji {
      height: 20px;
      width: 20px;
    }
  }
}

.edit-category-modal .enable-events .min-trust input {
  width: 60px;
}

.event-rsvp {
  display: flex;
  align-items: center;

  button {
    min-height: initial;
    margin-right: 7px;
  }

  .spinner {
    width: 3px;
    height: 3px;
    margin-right: 8px;
  }
}

.event-rsvp-details {
  display: flex;
  align-items: center;

  a {
    margin-right: 7px;
  }
}

.modal-body.event-rsvp-modal {
  overflow: hidden;

  .header {
    display: flex;

    .types {
      padding-top: 0;
      padding-bottom: 15px;
      margin: 0;
      flex: 1;
    }

    .filter {
      align-self: flex-start;
      padding-bottom: 15px;
      border-bottom: 1px solid var(--primary-low);

      input {
        width: 150px;
        margin-bottom: -1px;
      }
    }
  }

  .list {
    height: 300px;
    position: relative;
    overflow: scroll;

    .spinner {
      position: absolute;
      left: calc(50% - 10px);
      top: calc(50% - 10px);
    }

    ul {
      list-style: none;
      margin: 0;

      li {
        padding: 10px 15px;
        border-bottom: 1px solid var(--primary-low);

        .user-info {
          margin-bottom: 0;
          position: relative;
          width: 100%;

          .details {
            position: absolute;
            right: 20px;
            top: 10px;
          }
        }
      }
    }
  }
}

.main-link.row-below-title {
  .link-top-line {
    display: block;
  }

  > .date-time-container,
  > .topic-list-event-rsvp,
  > .discourse-tags {
    display: inline-block;
    margin-right: 10px;
  }
}

.topic-list-event-rsvp {
  font-size: 0.9em;
  margin-top: 4px;
}

.composer-controls-event {
  position: relative;

  .popup-tip {
    left: 0;
    right: initial;
    min-width: 300px;
  }
}

.events-webcal-api {
  margin: 0 0 5px;
}

.webcal-label {
  font-weight: bold;
}

.webcal-notice {
  font-weight: bold;
}

ul.events-webcal-notices {
  float: right;
  margin: 10px 0;
  li {
    font-style: italic;
  }
}

.for-event {
  border-radius: 1em;
  display: inline-block;
  border: 1px solid var(--primary-low);
  background: var(--primary-very-low);

  .topic-avatar,
  .topic-body {
    border: none;
  }

  .topic-avatar {
    padding-left: 15px;
  }

  .topic-body {
    margin-right: 12px;

    .post-menu-area {
      padding: 0;
    }

    nav.post-controls .actions {
      margin-left: unset;
      width: 100%;

      .manage-event {
        margin-right: auto;
        color: var(--primary-medium);
      }
    }
  }
}

nav.post-controls .actions .manage-event {
  padding: 8px 10px;

  .d-icon {
    margin-right: var(--control-icon-space);
  }
}
