.add-event-modal {
  .add-event-controls {
    padding: 0 10px;
    margin-bottom: 10px;

    .control {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      min-height: 30px;
      margin-right: 20px;

      > span {
        line-height: 30px;
      }
    }

    .timezone-modal {
      position: absolute;
      top: 0;
      padding: 5px;
      height: auto;
      background-color: $secondary;
      box-shadow: 0 2px 2px rgba(0,0,0,0.4);

      .combo-box {
        display: block;
        margin-bottom: 5px;
      }

      .btn {
        margin-right: 2px;
      }
    }
  }

  .date-time-card {
    width: 270px;
    display: inline-block;
    padding: 0 10px;
    text-align: left;
  }

  .start-card {
    border-left: 1px solid transparent;
    margin-right: 10px;
  }

  .end-card {
    border-left: 1px solid #eee;
    padding-left: 25px;
  }

  .set-all-day {
    font-size: 1.2em;
    padding-bottom: 13px;
  }

  .modal-title-label {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10px;
  }

  .modal-title{
    width: 565px;
  }

  .modal-sub-title{
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 2px;
    padding-right: 10px;
  }

  .modal-date-time-set{
    padding-top: 3px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: row;

    .modal-date-area{
      order: 1;
    }

    .modal-time-area{
      order: 2;
      margin-left: 10px;

      .modal-time{
        width: 127px;
      }
    }
  }

  .ui-timepicker-input {
    width: 105px;
    text-align: center;
  }

  .date-picker{
     width: 110px;
  }

  .pika-single {
    position: relative !important;
    z-index: 100;

    .pika-lendar {
      border: 1px solid #eee;
      padding: 14px;
      margin: 0;
      float: none;
      width: auto;
    }
  }
}

.add-event-modal + .modal-footer .clear {
  margin: 5px 10px;
}

.composer-controls-event.show-control {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}

.add-event {
  text-align: left;
}

.add-event, .add-event + button {
  padding: 6px 10px;
  border: 1px solid $primary-medium;
}

.composer-controls-event .event-label .btn:not(:hover) {
  background: $secondary;
}

.form-element + span {
  display: block;
}

.event-details {
  margin-top: 7px;
}

.event-details .event-label {
  margin-top: 7px;
  line-height: 18px;
  display: inline-block;

  .fa {
    margin-right: 7px;
  }
}

.date-time-container {
  display: inline-block;

  i {
    margin-right: 10px;
  }
}

.date-time.title {
  width: 100px;
}

.add-to-calendar {
  position: relative;
  display: inline-block;
  margin-left: 4px;

  .dropdown-menu {
    top: 24px;
    bottom: initial;
    width: 190px;
    position: absolute;

    &.show {
      display: block;
    }

    ul {
      list-style: none;
      margin: 0;
    }
  }
}

.events-calendar.responsive {
  .month-dropdown {
    width: 110px;
    height: 30px;

    &:not(.is-expanded) .select-kit-header {
      width: inherit;
    }
  }

  .events-calendar-body {
    margin-top: 10px;
    text-align: center;

    .weekday {
      height: 15px;
      line-height: 15px;

      span {
        padding: 0 2px;
      }
    }

    .day {
      height: 38px;
      padding-top: 2px;
      cursor: pointer;
      position: relative;

      .header {
        text-align: center;
      }

      .date label {
        cursor: pointer;
        display: inline-block;
        height: 18px;
        width: 18px;
        margin: 0;
      }

      .has-events {
        position: absolute;
        bottom: 2px;
        width: 100%;
      }
    }
  }
}

.events-calendar-body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
  border-bottom: 1px solid $primary-medium;
  border-left: 1px solid $primary-medium;

  .day, .weekday {
    width: calc(100%/7 - 1px);
    border-top: 1px solid $primary-medium;
    border-right: 1px solid $primary-medium;
  }

  .weekday {
    height: 23px;
    line-height: 23px;

    span {
      padding: 0 4px;
    }
  }

  .day {
    height: 105px;
    transition: all 0.2s;
    position: relative;

    .container {
      background-color: $secondary;
      overflow: hidden;
      height: inherit;
    }

    &.today .container {
      background-color: $highlight-low;
    }

    &.selected .date label {
      background-color: $tertiary;
      color: $secondary;
      border-radius: 50%;
    }

    &.expanded .container {
      position: absolute;
      z-index: 100;
      height: auto;
      width: auto;
      overflow: visible;
      border: 1px solid $primary-low;
      box-shadow: 0 2px 2px rgba(0,0,0,0.4);

      .events {
        padding: 3px 4px;

        li {
          height: 25px;
          line-height: 25px;
        }
      }
    }

    .header {
      position: relative;
    }

    .date label {
      margin: 2px;
      padding: 2px 3px;
      margin-bottom: 0;
    }

    .close {
      position: absolute;
      right: 3px;
      top: -3px;
    }

    .hidden-events {
      margin: 0 5px;
    }

    .has-events {
      font-size: 7px;
    }
  }
}

ul.events-calendar-events {
  margin: 0;
  list-style: none;

  li {
    margin: 2px 0;
    padding: 0 5px;
    white-space: nowrap;
    cursor: pointer;
    height: 16px;
    line-height: 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;

    .fa-circle {
      color: inherit;
      font-size: 0.8em;
    }

    &.all-day {
      background-color: $tertiary;
      color: $secondary;
      border-top: 1px solid $primary-low;
      border-bottom: 1px solid $primary-low;
    }

    span {
      font-size: 0.9em;
    }

    img.emoji {
      height: 17px;
      width: 17px;
    }
  }
}

.events-below {
  margin-top: 8px;
  margin-bottom: 15px;

  ul.events-calendar-events li {
    height: auto;
    line-height: 20px;
    margin: 5px 0;
    white-space: normal;

    img.emoji {
      height: 20px;
      width: 20px;
    }
  }
}
