{{#unless model.editingTopic}}
  {{#if model.event}}
    <div class="topic-event-label">
      {{event-label model.event topic="true"}}
      {{#if siteSettings.events_add_to_calendar}}
        <AddToCalendar @topic={{model}} />
      {{/if}}
    </div>
    {{#if showRsvp}}
      <EventRsvp @topic={{model}} />
    {{/if}}
    {{#if model.event.video_url}}
      <EventVideoBtn @videoUrl={{model.event.video_url}} />
    {{/if}}
  {{/if}}
{{/unless}}