{{#unless model.editingTopic}}
  {{#if model.event}}
    <div class="event-label">
      {{event-label model.event}}
    </div>
    {{#if siteSettings.events_add_to_calendar}}
      {{add-to-calendar topic=model}}
    {{/if}}
  {{/if}}
{{/unless}}
