<div class="directory-table__cell">
  {{bound-date @log.created_at}}
</div>

<div class="directory-table__cell log-level">
  {{@log.level}}
</div>

<div class="directory-table__cell log-context">
  {{@log.context}}
</div>

<div class="directory-table__cell log-message">
  {{@log.message}}
</div>