<div class="control-group calendar">
  <label class="control-label">{{i18n 'user.events_calendar.label'}}</label>
  <div class="controls">
    <label>{{i18n 'user.events_calendar.first_day_week'}}</label>
    {{combo-box content=weekdaysAvailable value=controller.model.custom_fields.calendar_first_day_week}}
  </div>
</div>
